body {
    font-family: carme, sans-serif;
            font-size: 100%;
}

#logo {
    width: 100px;
    margin-bottom: 30px;
}

#container {
    margin: 5%;
    margin-top: 50px;
}

.fa {
    margin-right: 10px;
}

#sidebar {
}

#menu {
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

#menu li {
    margin-bottom: 25px; 
}
