body {
    font-family: carme, sans-serif;
            font-size: 100%;
}

#logo {
    width: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

h2 {
    margin-top: 50px;
}

#container {
    margin: 5%;
    margin-top: 50px;
}

.fa {
    margin-right: 10px;
}

// Sidebar

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: #666;
}

a:visited {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #000;
}

#menu {
    list-style-type: none;  
    margin: 0;
    padding: 0;
}

#menu li {
    height: 20px;
    width: 180px;
    margin-bottom: 20px; 
    padding-bottom: 10px;
    cursor: pointer;
}

