<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>One Sheet Calendar</title>
<link rel="stylesheet" href="static/stylesheets/main.css" />

<script src="//use.edgefonts.net/karla;carme.js"></script>

<!--[if lt IE 9]>
  <script src="./static/javascripts/html5.js"></script>
<![endif]-->
<!--[if (gt IE 8) | (IEMobile)]><!-->
  <link rel="stylesheet" href="./static/stylesheets/unsemantic-grid-responsive.css" />
<!--<![endif]-->
<!--[if (lt IE 9) & (!IEMobile)]>
  <link rel="stylesheet" href="./static/stylesheets/ie.css" />
<![endif]-->
</head>
<body>
  <div class="grid-container" id="container">
    <div class="grid-25 mobile-grid-100" id="sidebar">
        <ul id="menu">
            <li>one sheet calendar</li>
            <li>what is this?</li>
            <li>create your calendar</li>
            <li>more crazy shit</li>
        </ul>
    </div>
    <div class="grid-75 mobile-grid-100" id="content">
        <img width="100%" src="static/images/calendar.jpg"/>
    </div>
    </div>
</body>

