{% extends "layout.html" %}
{% block content %}
<span id="top"/>
<img width="100%" src="/static/images/calendar.jpg"></img>

<span class="section" id="about_anchor">
<h2>About</h2>
<p>We are doing this calendar stuff.</p>
</span>

<span class="section" id="download_anchor">
<h2>Create Calendar</h2>

<p>Choose your options and download the PDF.</p>
<p>
    <form>
       <fieldset>
          <legend>Settings</legend>
          <p>
             <label>Select language</label>
             <select id = "myList">
               <option value = "1">one</option>
               <option value = "2">two</option>
               <option value = "3">three</option>
               <option value = "4">four</option>
             </select>
          </p>
          <p>
             <label>First month</label>
             <select id = "myList">
               <option value = "1">one</option>
               <option value = "2">two</option>
               <option value = "3">three</option>
               <option value = "4">four</option>
             </select>
          </p>
      </fieldset>
      <p>
      <input value="Download PDF" type="button"/>
      </p>
    </form>
</p>
</span>

<span class="section" id="terminal_anchor">
<h2>Terminal Application</h2>

<p>FoldedCalendar was intended to be a console terminal application. It is open source and you can still use it on the command line.</p>
</span>

<span class="section" id="contribute_anchor">
<h2>Contribute</h2>

<p>Contribute some source code or add some new themes to FoldedCalendar to make it even more awesome. </p>
</span>

<span class="section" id="donate_anchor">
<h2>Donate</h2>

<p>Whats the best nation? The donation. Donate bitcoins so we continue liking you.</p>

<p><img src="./static/images/donation.png"/></p>
</span>

{% endblock %}
